

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


/*  */
body {
   
    /* color: #F6FCDF; Light yellow for text contrast */
    color: white;
    font-family: Arial, sans-serif;
}



.container{
   
    min-height: 100vh;
    /* background-color: #638C6D; */
    background-color: lightgray;
    display: grid;
    grid-template-rows: auto auto 3fr;
    overflow: auto;
}

header{
    padding: 2em 0;
    text-align: center;
    /* background-color: #31511E; */
    background-color: rgb(41, 39, 39);
}
.show-div{
    position: relative;
    right: 0;
    /* border: 1px solid blue; */
    text-align: end;
    padding: 1em 0;
}

.show-add{
    position: sticky;
    top: 100px;
    right: 2.2em;
}

button,a{
    cursor: pointer;
}
.show-add svg{
    /* width: 8rem; */
    fill: rgb(182, 121, 9);
    cursor: pointer;

    /* background-color: blue; */
}

.show-add svg:hover{
    fill: black;
    cursor: pointer;

}
.book-container{
   
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    /* width: 80%; */
    
}
.books{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* background-color: #859F3D; */
    gap: 1.5em;
    /* border: 2px solid #31511E; */
    padding: 1em 2em;
    overflow: auto;
    border-radius: 20px;
}

.book-item {
    width: 100%;
    max-width: 500px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    /* background-color: #F6FCDF; */
    /* border: none; */
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    /* box-shadow: -3px -3px 10px black,
    1px 1px 10px; */
    border-radius: 10px;
    overflow: hidden;
    color: #7c7c6a; /* Dark text for readability */
    background-color: white;
    

}

.book-item:hover{
    box-shadow: -3px -3px 10px black,
    3px 7px 10px black;
    transition: all 0.3s ease;
}

.book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the image covers the container */
    border-radius: 0;

}


.img-div{
    width: 100%;
    height: 75%;
    
    

}

.obj-div{
    padding: 1em ;
    letter-spacing: 1px;
    background-color: transparent;
    height: 25%;
    position: relative;
    border-top: 10px solid;
  
}

.obj-div p {
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.status{
    cursor: pointer;
    /* padding-bottom: 1rem; */
}

.status:hover {
    text-decoration: underline; 
    font-weight: bolder;
    color: #0056b3; 
}


.book-item:hover .status::after {
    content: " (click to change)"; 
    font-style: italic;
    color: #beb6b6; 
    text-align: end;
    margin-left: 5px;
}

#svg-container{
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;

 
}

#svg-container .delete{
    display: inline;
    width: 100%;
}

#svg-container .delete:hover{
    display: none;
    background-color: black;
    /* width: 500px; */

}

#svg-container .delete-after{
    display: none;
}

#svg-container:hover .delete{
    display: none;
}

#svg-container:hover .delete-after{
    display: inline;
}
.delete-after:hover{
    display: inline;
}

.title{

    text-wrap: wrap;
    font-size: 1.2em;
    color: black;
    width: 20ch;
    /* height: 30%; */
    
    margin-bottom: 4px;
    overflow: auto;
}

.author{
    font-size: 1em;
    /* color:black; */
}
.author::before{
    content: "by ";
    color:#7c7c6a;
    font-style: italic;


}
dialog{
    margin: auto;
    padding: 3rem 0.8rem;
    width: 400px;
    /* height: auto; */
    /* background-color: #31511E; */
    
    background-color: rgb(41, 39, 39) ;
    color: white;
    border-radius: 16px;
    border: none;
   
}

dialog h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white


}



dialog form{
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
    height: 100%;
    gap: 1em;
    width: 100%;
    /* padding: 0 1rem; */


}

dialog {
    animation: fade-out 0.7s ease-out;
  }
  

  
dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    
}


form input {
    padding: .8em .2em;
}
form input,select{
    /* margin-bottom: 1em; */
    height: 1.4rem;
    font-size: 1rem;
    width: clamp(300px, 80%, 500px);
    /* max-width: 400px; */
    margin-top: 5px;

}

form div *{
    display: block;
}

form label{
    font-size: 1.2rem;
}

.dialog-btns{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;

}

.dialog-btns button{
    flex: 1;
    height: 2.5rem;
    border-radius: 8px; 
    font-size: 1em;    
    /* outline: 1px solid white;
    border: 1px solid white; */
   
}

.submit{
    background-color: #28A745;
    /* border-color: #28A745; */
    outline: none;
    color: white;
}

.submit:hover{
    background-color: rgb(22, 3, 46);
    /* color: black; */
    font-weight: 800;

}

.close-dialog:hover{
    background-color: red;
    color: white;
    font-weight: 800;
}
